---
# Import common playbook for all servers
- import_playbook: ../static-assignments/common.yml

# Import UAT webservers configuration
- import_playbook: ../static-assignments/uat-webservers.yml

# Dynamic variables always loaded
- hosts: all
  name: Include dynamic variables
  tasks:
    - include_tasks: ../dynamic-assignments/env-vars.yml
  tags:
    - always

# Webserver assignment
- import_playbook: ../static-assignments/webservers.yml

# Load balancers
- hosts: lb
  name: Loadbalancers assignment
  tasks:
    - import_tasks: ../static-assignments/loadbalancers.yml
  when: load_balancer_is_required
