---
- name: Common server setup
  hosts: all
  become: yes
  tasks:
    - name: Update package cache
      apt:
        update_cache: yes
      when: ansible_os_family == "Debian"

    - name: Install common packages
      package:
        name:
          - curl
          - wget
          - vim
          - htop
        state: present

    - name: Ensure NTP is installed and running
      package:
        name: ntp
        state: present
      notify: restart ntp

  handlers:
    - name: restart ntp
      service:
        name: ntp
        state: restarted