---
- hosts: all
  tasks:
    - import_playbook: ../static-assignments/common.yml
    - include_vars: ../dynamic-assignments/env-vars.yml
  tags:
    - always

- hosts: webservers
  tasks:
    - import_playbook: ../static-assignments/webservers.yml

- hosts: lb
  tasks:
    - import_playbook: ../static-assignments/loadbalancers.yml
  when: load_balancer_is_required