---
# 1. Import common playbooks
- import_playbook: ../static-assignments/common-del.yml
- import_playbook: ../static-assignments/uat-webservers.yml

---
# 2. Include dynamic variables for all hosts
- hosts: all
  name: Include dynamic variables
  tags:
    - always
  tasks:
    - include_tasks: ../dynamic-assignments/env-vars.yml

---
# 3. Loadbalancers assignment
- hosts: lb
  name: Loadbalancers assignment
  when: load_balancer_is_required
  tasks:
    - import_tasks: ../static-assignments/loadbalancers.yml
