---
# Import common playbook for all servers
# - import_playbook: ../static-assignments/common-del.yml

# # Import UAT webservers configuration
# - import_playbook: ../static-assignments/uat-webservers.yml
  
---
- hosts: all
- name: Include dynamic variables 
  tasks:
  import_playbook: ../static-assignments/common.yml 
  include: ../dynamic-assignments/env-vars.yml
  tags:
    - always

-  hosts: webservers
- name: Webserver assignment
  import_playbook: ../static-assignments/webservers.yml