---
- name: Include dynamic variables
  hosts: all
  tasks:
    - name: Import common playbook
      import_playbook: ../static-assignments/common.yml
    - name: Include environment variables
      include_vars: ../dynamic-assignments/env-vars.yml
  tags:
    - always

- name: Webserver assignment
  hosts: webservers
  tasks:
    - import_playbook: ../static-assignments/webservers.yml

- name: Loadbalancers assignment
  hosts: lb
  tasks:
    - import_playbook: ../static-assignments/loadbalancers.yml
  when: load_balancer_is_required