---
# Top-level imports
- import_playbook: ../static-assignments/common-del.yml
- import_playbook: ../static-assignments/uat-webservers.yml

# Play 1
- name: Apply dynamic variables
  hosts: all
  tags:
    - always
  tasks:
    - include_tasks: ../dynamic-assignments/env-vars.yml

# Play 2
- name: Loadbalancers assignment
  hosts: lb
  when: load_balancer_is_required
  tasks:
    - import_tasks: ../static-assignments/loadbalancers.yml
