---
# 1. Import full playbooks FIRST (top-level only)
- import_playbook: ../static-assignments/common-del.yml
- import_playbook: ../static-assignments/uat-webservers.yml

---
# 2. Play #1 – Include dynamic variables for ALL hosts
- name: Apply dynamic variables
  hosts: all
  tags:
    - always
  tasks:
    - include_tasks: ../dynamic-assignments/env-vars.yml

---
# 3. Play #2 – Load balancers assignment
- name: Loadbalancers assignment
  hosts: lb
  when: load_balancer_is_required
  tasks:
    - import_tasks: ../static-assignments/loadbalancers.yml
